@font-face {
  font-family: 'Caveat-Bold';
  src: url('font/Caveat-Bold.ttf');
}

@font-face {
  font-family: 'KirangHaerang-Regular';
  src: url('font/KirangHaerang-Regular.ttf');
}

@font-face {
  font-family: 'JosefinSans-Light';
  src: url('font/JosefinSans-Light.ttf');
}