.head {
  padding: 10px 50px;
  font-size: 50px;
  background-color: rgb(212, 212, 212);
}

.body {
  display: flex;
  align-items: flex-start;
}

.form-container {
  flex: 4;
  padding: 20px 70px;
}

.list-container {
  flex: 6;
  padding: 0 60px;
}
