.head {
  padding: 10px 50px;
  font-size: 50px;
  /* background-color: rgb(114, 197, 245); */
  background-image: linear-gradient(
    to right,
    rgb(13, 94, 141),
    rgb(74, 20, 105)
  );
  color: rgb(236, 242, 252);
}

.body {
  display: flex;
  align-items: flex-start;
}

.form-container {
  flex: 4;
  padding: 20px 70px;
}

.list-container {
  flex: 6;
  padding: 0 60px;
}
